*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1 { font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Verdana, Geneva, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

h1{
    display: inline-block;
    vertical-align: middle;
    
}

img{
    vertical-align: middle;
}

main{
    background-color: whitesmoke;
    padding:2% 25%;
}

.container{
    background-color: white;
    padding: 5% 10%;
    border-radius: 15px;
}


#task{
    background-color: #46ADF1;
    border: 1px solid #46ADF1 ;
}

#section{
    background-color: whitesmoke;
    border: 1px solid lightgray ;
    color: grey;
}

button{ 
    border-radius: 15px;
    padding: 5px 10px;
}

hr{
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid lightgray;
}

h2::before{
    content: '\25BE' ;    
}
.divisor{
    margin-bottom: 20px;
}

.list{
    margin-top: 10px;
    margin-bottom: 20px;
}

.check{
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 5px;
    padding: 3px;
}

.uncheck{
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 5px;
    padding: 3px;
}

.type{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
    margin-left: 5px;
}

.editorial{
    background-color: #46ADF1;
    border-color: #46ADF1;
}

.goals{
    background-color: #9D72E4;
    border-color: #9D72E4;
}

.recruiting{
    background-color: #63C0A9;
    border-color: #63C0A9;
}

.mobile{
    background-color: #F29F34;
    border-color: #F29F34;
}

.website{
    background-color: #D864A1;
    border-color: #D864A1;
}

.sales{
    background-color: #B1C925;
    border-color: #B1C925;
}