*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: inline-block;
    vertical-align: middle;
    
}

img{
    vertical-align: middle;
}

main{
    background-color: whitesmoke;
    padding:5% 30%;
}

.container{
    background-color: white;
    padding: 5% 10%;
}


#task{
    background-color: #46ADF1;
    border: 1px solid #46ADF1 ;
}

#section{
    background-color: whitesmoke;
    border: 1px solid lightgray ;
    color: grey;
}

button{ 
    border-radius: 10%;
    padding: 5px 10px;
}

hr{
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid lightgray;
}

h2::before{
    content: '\25BE' ;    
}
.divisor{
    margin-bottom: 20px;
}

